
@{
    ViewBag.Title = "Index";
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/DataTables/DataTables-1.10.23/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
    <div class="app-main">

        <div class="app-main__inner">

            <div class="col-md-12 col-lg-12">
                <div class="mb-12 card">
                    <div class="card-header-tab card-header">
                        <div class="card-header-title">
                            <i class="header-icon lnr-rocket icon-gradient bg-tempting-azure"> </i>
                            <h2>SubLineas</h2>
                        </div>
                        <div class="btn-actions-pane-right">
                            <div class="nav">

                                <input type="button" value="Registrar" class="btn btn-primary" id="btnAdd" onclick="nuevo()" />
                            </div>
                        </div>
                    </div>

                    <br />
                    <br />
                    <table class="table table-striped table-bordered" id="dataTableParameters">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">SubLinea</th>
                                <th scope="col">Linea</th>
                                <th scope="col"># Linea</th>
                                <th scope="col">Actions</th>

                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                </div>


            </div>



            @*modal agregar*@
            <div id="myModalAddParameters" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Registrar SubLineas</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>

                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal">


                                <div class="form-group" style="margin-top:5px;">
                                    <label for="AccountDetail" class="col-sm-4 control-label">SubLinea</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="subad" placeholder="SubLinea" required />
                                    </div>
                                </div>
                                <div class="form-group" style="margin-top:5px;">
                                    <label for="AccountDetail" class="col-sm-4 control-label">Linea</label>
                                    <div class="col-sm-8">
                                        <select id="lineaad" class="form-control">
                                            <option value="0">Seleccione..</option>
                                            @foreach (var lin in ViewBag.linea)
                                            {
                                                <option value="@lin.Id_linea">@lin.Linea</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            <button type="button" id="parameterAdd" class="border-0 btn-pill btn-wide btn-transition active btn btn-outline-alternate" onclick="saveParameter(1)"> Guardar </button>
                        </div>
                    </div>
                </div>
            </div>



            @*modal edit*@
            <div id="myModalEditParameters" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Actualizar SubLinea</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>

                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal">
                                <div class="form-group" style="margin-top:5px;">
                                    <label for="Market" class="col-sm-4 control-label">#</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="ided" placeholder="SubLinea" required />
                                    </div>
                                </div>
                                <div class="form-group" style="margin-top:5px;">
                                    <label for="Market" class="col-sm-4 control-label">Sublinea</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="subed" placeholder="SubLinea" required />
                                    </div>
                                </div>
                                <div class="form-group" style="margin-top:5px;">
                                    <label for="AccountDetail" class="col-sm-4 control-label">Linea</label>
                                    <div class="col-sm-8">
                                        <select id="lineaed" class="form-control">
                                            <option value="0">Seleccione..</option>
                                            @foreach (var lin in ViewBag.linea)
                                            {
                                                <option value="@lin.Id_linea">@lin.Linea</option>
                                            }
                                        </select>


                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            <button type="button" id="parameterAdd" class="border-0 btn-pill btn-wide btn-transition active btn btn-outline-alternate" onclick="saveParameter(2)"> Actualizar </button>
                        </div>
                    </div>
                </div>
            </div>


            @*modal eliminar*@
            <div id="myModalDeleteParameters" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Eliminar Linea</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>

                        </div>
                        <div class="modal-body">
                            <form class="form-inline">

                                <div class="form-group" style="margin-top:5px;">
                                    <label for="Market" class="col-sm-4 control-label">#</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="ide" placeholder="SubLinea" required  readonly/>
                                    </div>
                                </div>
                                <div class="form-group" style="margin-top:5px;">
                                    <label for="Market" class="col-sm-4 control-label">Sublinea</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="sube" placeholder="SubLinea" required readonly />
                                    </div>
                                </div>
                                <div class="form-group" style="margin-top:5px;">
                                    <label for="AccountDetail" class="col-sm-4 control-label">Linea</label>
                                    <div class="col-sm-8">
                                        <select id="lineae" class="form-control" readonly>
                                            <option value="0">Seleccione..</option>
                                            @foreach (var lin in ViewBag.linea)
                                            {
                                                <option value="@lin.Id_linea">@lin.Linea</option>
                                            }
                                        </select>


                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            <button type="button" id="parameterAdd" class="border-0 btn-pill btn-wide btn-transition active btn btn-outline-alternate" onclick="saveParameter(3)">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>



            <script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>
            <script type="text/javascript" src="~/Content/DataTables/datatables.min.js"></script>
            <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
            <script type="text/javascript" src="~/Content/DataTables/DataTables-1.10.23/js/dataTables.bootstrap4.min.js"></script>

            <script type="text/javascript">
                $(document).ready(viewDataTable);

                function viewDataTable() {
                    return $.ajax({
                        type: 'POST',
                        url: '/Sublinea/chargeParameters',
                        dataType: 'json',
                        success: function (data) {

                            var sd = data;
                            cargaTabla(sd);

                        }, error: function (xhr, status) {

                            alert('Disculpe, existió un problema');

                        }
                        //async: false
                    });
                }


                function cargaTabla(response) {
                    var table = $('#dataTableParameters').DataTable({
                        "destroy": true,
                        "data": response,
                        "columns": [
                            { "data": "Id_sublinea", "autoWidth": true },
                            { "data": "Sublinea", "autoWidth": true },
                            { "data": "Linea", "autoWidth": true },
                            { "data": "Id_linea", "autoWidth": true },

                            { "defaultContent": "<button type='button' class='editar btn btn-warning'> <i class='bi bi-pencil-fill'></i></button> <button type='button' class='eliminar btn btn-danger'><span class='bi bi-trash-fill'></span></button>" }
                        ]
                    });

                    obtenerDataEdit("#dataTableParameters tbody", table);
                    obtenerIdDelete("#dataTableParameters tbody", table);

                }

                var obtenerDataEdit = function (tbody, table) {
                    $(tbody).on("click", "button.editar", function () {
                        var data = table.row($(this).parents("tr")).data();

                        var nombre = $('#lineaed').val(data.Id_linea);
                        var id = $('#ided').val(data.Id_sublinea);
                        var sub = $('#subed').val(data.Sublinea);
                        $('#myModalEditParameters').modal('show');
                    });
                }

                var obtenerIdDelete = function (tbody, table) {
                    $(tbody).on("click", "button.eliminar", function () {
                        var datae = table.row($(this).parents("tr")).data();

                        var nombre = $('#lineae').val(datae.Id_linea);
                        var id = $('#ide').val(datae.Id_sublinea);
                        var sub = $('#sube').val(datae.Sublinea);
                        $('#myModalDeleteParameters').modal('show');
                    });
                }


                function saveParameter(tipo) {

                    var id2 = tipo

                    if (id2 == '1') {

                        var sublinea = $('#subad').val().trim();
                        var id = 0;
                        var  idlinea  = $('#lineaad').val();

                    } else if (id2 == '2') {
                        var idlinea = $('#lineaed').val();
                        var id = $('#ided').val();
                        var sublinea = $('#subed').val();
                     
                    } else if (id2 == '3') {
                        var idlinea = $('#lineae').val();
                        var id = $('#ide').val();
                        var sublinea = $('#sube').val();

                    }


                    $.ajax({
                        type: 'POST',
                        url: "/Sublinea/updateandSaveData", //Direccion del servicio web segido de /Nombre del metodo a llamar
                        data: { tipo: tipo, idlinea: idlinea, sublinea: sublinea,id:id },
                        dataType: "json",
                        success: function (result) {

                            if (result) {
                                alert("Actualizacion Exitosa");
                                location.reload();
                            }

                        }
                    });


                    $('#myModalAddParameters').modal('hide');

                }


                function nuevo() {
                    $('#myModalAddParameters').modal('show');
                }
            </script>

